.gitignore
*.pyc
pynaoqi-python2.7-2.1.4.13-linux64_japonais
pynaoqi-python2.7-2.1.4.13-linux64_japonais.tar.gz
pynaoqi-python2.7-2.1.4.13-linux64.tar.gz
*.PDF
*pdf
speech_recog_local.py
*.vrd
choregraphe
*.deb
C++
projet2015
webots*
